# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# venv and pycharm metadata
venv/*
*/.idea/*
.idea/*
# IPython notebook
.ipynb_checkpoints

# data paths
results/*
data
data/*
data_chromosome/
*.png

graph_analysis/data/*
feature_extraction/data*
feature_extraction/venv/*
graph_analysis/venv

*metadatos*